# ID da planilha enviada por você
GOOGLE_SHEET_ID=1KsDWF-AvlswlvidWQnA_e21GP_j8sKaeK3orT4_KL08

# Service Account do Google Cloud
GOOGLE_CLIENT_EMAIL=seu-service-account@seu-projeto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_AQUI\n-----END PRIVATE KEY-----\n"

# Chave interna para assinar sessão do usuário
APP_SECRET=troque-por-uma-chave-grande-com-mais-de-32-caracteres

# Opcional
NEXT_PUBLIC_APP_NAME=Ranking 3PL Shopee
